:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --color-tertiary-text: #f4f4fd;
  --text-title: #ffffff;
  --accent-text: #4d5ae5;
  --accent-pressed: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: (--color-main-text);
  line-height: 1.5;
}

/* Navigation */

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-two {
  color: var(--color-main-text);
}

.list {
  list-style-type: none;
}

.site-nav .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-main-text);
}

/* Contacts */

.site-contacts .link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-secondary-text);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-pressed);
}

/* Hero Content */

.section-hero {
  color: var(--text-title);
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.button-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--text-title);
  background-color: var(--accent-text);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  display: inline-flex;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}

.hero .button-title:hover,
.hero .button-title:focus {
  background-color: var(--accent-pressed);
}

/* Features */

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-secondary-text);
}

/* What are we doing */

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.features-section {
  text-align: left;
}

/* Footer */

.section-footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-tertiary-text);
}

.logo-footer-two {
  color: var(--accent-text);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-tertiary-text);
}
